
@media (min-width: 325px) and (max-width: 768px){
    *{
        margin: 0;
        font-family: arial;
        border: border-box;
    }
    body{
        background-color: whitesmoke;
    }
    
    /* Panel 1 */
    /* Box 1 */
    
    .navbar{
        height:60px;
        background-color: #0f1111;
        color:white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
     
        
    }
    
    .nav-logo{
        height: 50px;
        width:100px;
    }
    
    .logo{
        background-image:url('https://i.postimg.cc/jjym8pNW/amazon-logo.png');
        background-size: cover;
        height: 50px;
        width: 100%;
      
    }
    .nav-address{
        visibility: hidden;
    }

    .nav-sign-in{
        visibility: hidden;
    }
    .nav-return{
        visibility: hidden;
    }
    
    .border:hover{
        border:2px solid white;
    }
    
    /* Box 2 */
    
    .add-icon{
        display:flex;
       
    }
    
    .add-first{
        color:#cccccc;
        font-size:  0.87rem;
        margin-left:14px;
    }
    
    .add-second{
        margin-left:3px;
        font-size: 1rem;
    
    }
    
    
    /* Box 3 */
    
    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color: transparent;
        width: 98%;
        height: 38px;
        border-radius: 4px;
        padding: 10px;
    }
    
    .nav-search:hover{
        border: 2px solid orange;
    }
    
    .search-select{
        background-color: #f3f3f3;
        width: 50px;
        text-align: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none;
        font-size: 1rem;
    
    }
    
    .search-input{
        width: 565px;
        border: none;
        font-size:1rem;
        
    }
    
    
    .search-icon{
        width: 45px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        background-color: #febd68;
        border-top-right-radius: 4px ;
        border-bottom-right-radius: 4px;
        color:  #0f1111;
    }
    
    /* Box 4 and 5 */
    span{
        font-size: 0.78rem;
        font-weight: 700;
    }
    
    .list{
        font-weight: 700;
    }
    
    /* Box 6 */
     .cart i{
        font-size: 1.8rem;
        }
    
    .cart{
        font-weight: 700;
    }
    
    
    /* Panel 2*/
    
    .panel-2{
        background-color: #232F3E;
        height: 40px;
        display: flex;
        align-items: center;
        color: #ffffff;
        justify-content: space-evenly;
    
    }
    
    .p2{
        padding:5px;
    }
    
    
    
    /* Box 1*/
    
    .All{
        
        color: #ffffff;
        font-weight: 600;
        padding: 5px;
    }
    
    .All i{
       font-size: 20px;
    }
    
    .panel-ops{
        display:flex;
        align-items: center;
        width: 70%;
        
    }
    
    .panel-ops p{
        margin-left:15px;
        font-size: 0.9rem;
    }
    
    .deals{
        font-size:1rem ;
        font-weight: 700;
    }
    
    .border2{
        visibility: hidden;
    }
    
    /* Hero Section */
    .cosas{
        background-color: whitesmoke;
        width: auto;
        height: auto;
        display: flex;
        
     
    
        
    }
    .cosas1{
        background-color: whitesmoke;
        height: auto;
        display: flex;
        display: inline-block;
        margin-bottom: 100px;
        margin-right: 200px;
     
    
        
    }
   
    
    .hero-sec{
        margin: 15px;
        background-color: whitesmoke;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        
    }
    
    .linke{
    
        font-size: 0.8rem;
       }
       .posis{
    
        font-size: 0.8rem;
       }
    
       .listilla{
        font-size: 0.9rem;
    
       }
       .cosas2{
    
        height: 450px;
        width: 250px;
        border: solid 0.01rem silver;
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
    
    }
    
    /*.hero-msg{
        background-color: white;
        height:40px;
        width: 85%;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        
    }
    
    .hero-msg a{
        color: #007185;
        cursor: pointer;
    }
    
    
    /* Shop Section */
    
    .shop-section{
        display: flex;
        justify-content: space-evenly;
        background-color: #e2e7e2;
        flex-wrap: wrap;
    }
    
    .box{
        height: 400px;
        width:23%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
    }
    
    .box-content{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .bg_img{
        height: 300px;
        background-size: cover;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .box-content a{
        color: #007185;
        cursor: pointer;
    }
    
    .box-content a:hover{
        color: rgb(126, 48, 48);
        text-decoration: underline;
    }
    
    /* Long Box */
    
    .box9_Long{
        height: 250px;
        width:97%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
        margin-bottom: 25px;
        }
    
    .box9_Long h2{
            display: inline;
            padding-left: 15px;
        }
    
    
    .box9_Long a{
        color: #007185;
        cursor: pointer;
        padding-left: 20px;
    }
    
    .box9_Long a:hover{
        color: rgb(126, 48, 48);
        text-decoration: underline;
    }
    
    .books{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    
    }
    
    .img_book{
        height: 180px;
        background-size:cover;
        width:11%;
    
    }
    
    /* Footer */
    
    /* Foot-panel-1 */
    
    footer{
        margin-top: 15px;
    }
    
    .foot-panel1{
        background-color: #37575a;
        color:white;
        height:50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
    }
    
    /* Foot-panel-2 */
    
    .foot-panel2{
        background-color:#232F3E;
        height: 350px;
        color: white;
        display: flex;
        justify-content:space-evenly;
    
    
    }
    
    .foot-panel2 ul{
        margin-top: 50px;
        
    }
    
    ul a{
        display: block;
        font-size: 0.85rem;
        margin-top: 15px;
        color:#dddddd ;
    }
    
    /* Foot-panel-3 */
    
    .foot-panel3{
        height:70px;
        background-color:#232F3E;
        border-top: 0.5px solid white;
        display: flex;
        justify-content:space-around;
        align-items: center;
    
    }
    
    .logo{
        background-image: url("https://i.postimg.cc/jjym8pNW/amazon-logo.png");
        width: 100px;
    }
    
    /* Foot-panel 3*/
    
    .foot-panel4{
        background-color: #0f1111;
        height: 73px;
        color: #dddddd;
        font-size: 0.7rem;
        text-align: center;
    }
    
    .pages{
        padding-top: 15px;
    }
    
    .copyright{
        padding-top:5px ;
    }
    .fa {
        padding: 5px;
        font-size: 30px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      .fa-github {
        background: black;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
      }
      a:link {
        color: blueviolet;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: blueviolet;
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: gold;
        background-color: transparent;
        text-decoration: none;
      }
    
      .button {
     
        background-color: orangered;
        border-radius: 25px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        width: 80px;
        height: 10px;
      }
      .separador{
        clear: left;
      }
      .testo2{
        margin-left: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        
    
      }
      .mendigo{
        display: flex;
        width: auto;
        height: 125px;
    
    
      }
    
      .pobreza{
        width: 120px;
        height: 100px;
        margin-left: 10px;
      }
      .tablilla{
        padding: 15px;
        
      }
    
      .finale{
        padding: 15px;
        
      }


}


@media (min-width: 768px) and (max-width: 1024px){
    *{
        margin: 0;
        font-family: arial;
        border: border-box;
    }
    body{
        background-color: whitesmoke;
    }
    
    /* Panel 1 */
    /* Box 1 */
    
    .navbar{
        height:60px;
        background-color: #0f1111;
        color:white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .nav-logo{
        height: 50px;
        width:100px;
    }
    
    .logo{
        background-image:url('https://i.postimg.cc/jjym8pNW/amazon-logo.png');
        background-size: cover;
        height: 50px;
        width: 100%;
      
    }
    
    .border:hover{
        border:2px solid white;
    }
    
    /* Box 2 */
    
    .add-icon{
        display:flex;
       
    }
    
    .add-first{
        color:#cccccc;
        font-size:  0.87rem;
        margin-left:14px;
    }
    
    .add-second{
        margin-left:3px;
        font-size: 1rem;
    
    }
    
    
    /* Box 3 */
    
    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color: pink;
        width: 98%;
        height: 38px;
        border-radius: 4px;
    }
    
    .nav-search:hover{
        border: 2px solid orange;
    }
    
    .search-select{
        background-color: #f3f3f3;
        width: 50px;
        text-align: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none;
        font-size: 1rem;
    
    }
    
    .search-input{
        width: 565px;
        border: none;
        font-size:1rem;
        
    }
    
    
    .search-icon{
        width: 45px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        background-color: #febd68;
        border-top-right-radius: 4px ;
        border-bottom-right-radius: 4px;
        color:  #0f1111;
    }
    
    /* Box 4 and 5 */
    span{
        font-size: 0.78rem;
        font-weight: 700;
    }
    
    .list{
        font-weight: 700;
    }
    
    /* Box 6 */
     .cart i{
        font-size: 1.8rem;
        }
    
    .cart{
        font-weight: 700;
    }
    
    
    /* Panel 2*/
    
    .panel-2{
        background-color: #232F3E;
        height: 40px;
        display: flex;
        align-items: center;
        color: #ffffff;
        justify-content: space-evenly;
    
    }
    
    .p2{
        padding:5px;
    }
    
    
    
    /* Box 1*/
    
    .All{
        
        color: #ffffff;
        font-weight: 600;
        padding: 5px;
    }
    
    .All i{
       font-size: 20px;
    }
    
    .panel-ops{
        display:flex;
        width: 70%;
        
    }
    
    .panel-ops p{
        margin-left:15px;
        font-size: 0.9rem;
    }
    
    .deals{
        font-size:1rem ;
        font-weight: 700;
    }
    

    
    /* Hero Section */
    .cosas{
        background-color: whitesmoke;
        width: auto;
        height: auto;
        display: flex;
        
     
    
        
    }
    .cosas1{
        background-color: whitesmoke;
        height: auto;
        display: flex;
        display: inline-block;
        margin-bottom: 100px;
        margin-right: 200px;
     
    
        
    }
    
    .hero-sec{
        margin: 15px;
        background-color: whitesmoke;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        
    }
    
    .linke{
    
        font-size: 0.8rem;
       }
       .posis{
    
        font-size: 0.8rem;
       }
    
       .listilla{
        font-size: 0.9rem;
    
       }
       .cosas2{
    
        height: 450px;
        width: 250px;
        border: solid 0.01rem silver;
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
    
    }
    
    /*.hero-msg{
        background-color: white;
        height:40px;
        width: 85%;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        
    }
    
    .hero-msg a{
        color: #007185;
        cursor: pointer;
    }
    
    
    /* Shop Section */
    
    .shop-section{
        display: flex;
        justify-content: space-evenly;
        background-color: #e2e7e2;
        flex-wrap: wrap;
    }
    
    .box{
        height: 400px;
        width:23%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
    }
    
    .box-content{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .bg_img{
        height: 300px;
        background-size: cover;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .box-content a{
        color: #007185;
        cursor: pointer;
    }
    
    .box-content a:hover{
        color: rgb(126, 48, 48);
        text-decoration: underline;
    }
    
    /* Long Box */
    
    .box9_Long{
        height: 250px;
        width:97%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
        margin-bottom: 25px;
        }
    
    .box9_Long h2{
            display: inline;
            padding-left: 15px;
        }
    
    
    .box9_Long a{
        color: #007185;
        cursor: pointer;
        padding-left: 20px;
    }
    
    .box9_Long a:hover{
        color: rgb(126, 48, 48);
        text-decoration: underline;
    }
    
    .books{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    
    }
    
    .img_book{
        height: 180px;
        background-size:cover;
        width:11%;
    
    }
    
    /* Footer */
    
    /* Foot-panel-1 */
    
    footer{
        margin-top: 15px;
    }
    
    .foot-panel1{
        background-color: #37575a;
        color:white;
        height:50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
    }
    
    /* Foot-panel-2 */
    
    .foot-panel2{
        background-color:#232F3E;
        height: 350px;
        color: white;
        display: flex;
        justify-content:space-evenly;
    
    
    }
    
    .foot-panel2 ul{
        margin-top: 50px;
        
    }
    
    ul a{
        display: block;
        font-size: 0.85rem;
        margin-top: 15px;
        color:#dddddd ;
    }
    
    /* Foot-panel-3 */
    
    .foot-panel3{
        height:70px;
        background-color:#232F3E;
        border-top: 0.5px solid white;
        display: flex;
        justify-content:space-around;
        align-items: center;
    
    }
    
    .logo{
        background-image: url("https://i.postimg.cc/jjym8pNW/amazon-logo.png");
        width: 100px;
    }
    
    /* Foot-panel 3*/
    
    .foot-panel4{
        background-color: #0f1111;
        height: 73px;
        color: #dddddd;
        font-size: 0.7rem;
        text-align: center;
    }
    
    .pages{
        padding-top: 15px;
    }
    
    .copyright{
        padding-top:5px ;
    }
    .fa {
        padding: 5px;
        font-size: 30px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      .fa-github {
        background: black;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
      }
      a:link {
        color: blueviolet;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: blueviolet;
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: gold;
        background-color: transparent;
        text-decoration: none;
      }
    
      .button {
     
        background-color: orangered;
        border-radius: 25px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        width: 80px;
        height: 10px;
      }
      .separador{
        clear: left;
      }
      .testo2{
        margin-left: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        
    
      }
      .mendigo{
        display: flex;
        width: auto;
        height: 125px;
    
    
      }
    
      .pobreza{
        width: 120px;
        height: 100px;
        margin-left: 10px;
      }
      .tablilla{
        padding: 15px;
        
      }
    
      .finale{
        padding: 15px;
        
      }



}


@media only screen and (min-width: 1024px){

    *{
    margin: 0;
    font-family: arial;
    border: border-box;
}
body{
    background-color: whitesmoke;
}

/* Panel 1 */
/* Box 1 */

.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width:100px;
}

.logo{
    background-image:url('https://i.postimg.cc/jjym8pNW/amazon-logo.png');
    background-size: cover;
    height: 50px;
    width: 100%;
  
}

.border:hover{
    border:2px solid white;
}

/* Box 2 */

.add-icon{
    display:flex;
   
}

.add-first{
    color:#cccccc;
    font-size:  0.87rem;
    margin-left:14px;
}

.add-second{
    margin-left:3px;
    font-size: 1rem;

}


/* Box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: auto;
    height: 38px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 1rem;

}

.search-input{
    width: 565px;
    border: none;
    font-size:1rem;
    
}


.search-icon{
    width: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px;
    color:  #0f1111;
}

/* Box 4 and 5 */
span{
    font-size: 0.78rem;
    font-weight: 700;
}

.list{
    font-weight: 700;
}

/* Box 6 */
 .cart i{
    font-size: 1.8rem;
    }

.cart{
    font-weight: 700;
}


/* Panel 2*/

.panel-2{
    background-color: #232F3E;
    height: 40px;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: space-evenly;

}

.p2{
    padding:5px;
}



/* Box 1*/

.All{
    
    color: #ffffff;
    font-weight: 600;
    padding: 5px;
}

.All i{
   font-size: 20px;
}

.panel-ops{
    display:flex;
    width: 70%;
    
}

.panel-ops p{
    margin-left:15px;
    font-size: 0.9rem;
}

.deals{
    font-size:1rem ;
    font-weight: 700;
}


/* Hero Section */
.cosas{
    background-color: whitesmoke;
    height: auto;
    display: flex;
    display: inline-block;
 

    
}
.cosas1{
    background-color: whitesmoke;
    height: auto;
    display: flex;
    display: inline-block;
    margin-bottom: 100px;
    margin-right: 200px;
 

    
}

.hero-sec{
    margin: auto;
    background-color: whitesmoke;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
    width: auto;
    
}

.linke{

    font-size: 0.8rem;
   }
   .posis{

    font-size: 0.8rem;
   }

   .listilla{
    font-size: 0.9rem;

   }
   .cosas2{

    height: 450px;
    width: 250px;
    border: solid 0.01rem silver;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;

}

/*.hero-msg{
    background-color: white;
    height:40px;
    width: 85%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

.hero-msg a{
    color: #007185;
    cursor: pointer;
}


/* Shop Section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e2;
    flex-wrap: wrap;
}

.box{
    height: 400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.bg_img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content a{
    color: #007185;
    cursor: pointer;
}

.box-content a:hover{
    color: rgb(126, 48, 48);
    text-decoration: underline;
}

/* Long Box */

.box9_Long{
    height: 250px;
    width:97%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    }

.box9_Long h2{
        display: inline;
        padding-left: 15px;
    }


.box9_Long a{
    color: #007185;
    cursor: pointer;
    padding-left: 20px;
}

.box9_Long a:hover{
    color: rgb(126, 48, 48);
    text-decoration: underline;
}

.books{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}

.img_book{
    height: 180px;
    background-size:cover;
    width:11%;

}

/* Footer */

/* Foot-panel-1 */

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37575a;
    color:white;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

/* Foot-panel-2 */

.foot-panel2{
    background-color:#232F3E;
    height: 350px;
    color: white;
    display: flex;
    justify-content:space-evenly;


}

.foot-panel2 ul{
    margin-top: 50px;
    
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color:#dddddd ;
}

/* Foot-panel-3 */

.foot-panel3{
    height:70px;
    background-color:#232F3E;
    border-top: 0.5px solid white;
    display: flex;
    justify-content:space-around;
    align-items: center;

}

.logo{
    background-image: url("https://i.postimg.cc/jjym8pNW/amazon-logo.png");
    width: 100px;
}

/* Foot-panel 3*/

.foot-panel4{
    background-color: #0f1111;
    height: 73px;
    color: #dddddd;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 15px;
}

.copyright{
    padding-top:5px ;
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-github {
    background: black;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  a:link {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: gold;
    background-color: transparent;
    text-decoration: none;
  }

  .button {
 
    background-color: orangered;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80px;
    height: 10px;
  }
  .separador{
    clear: left;
  }
  .testo2{
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    

  }
  .mendigo{
    display: flex;
    width: auto;
    height: 125px;


  }

  .pobreza{
    width: 120px;
    height: 100px;
    margin-left: 10px;
  }
  .tablilla{
    padding: 15px;
    
  }

  .finale{
    padding: 15px;
    
  }

}

